li {
    list-style-type: square
}

span#cena {
    color: red;
    font-weight: bold;
}

.wstep {
    font-style: italic;
}

td img {
    border-style: solid;
    border-color: skyblue;
}

td img:hover {
    border-color: red;
}

h1 ~ h2 {
    letter-spacing: 5px;
}

td[colspan="2"]{
    font-size: small;
}

p ~ p {
    color: grey;
}

body {
    background-image: url("books.png");
    background-size: 100px auto;
    background-repeat: repeat-y;
}

h1 { color: blue }
h1 { color: green }
