<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h3>Via GET method</h3>
    <form method="get" action="~/Name.cshtml">
        <input type="text" name="name" />
        <input type="submit" />
    </form>
    <h3>Via POST method</h3>
    <form method="post" action="~/Name.cshtml">
        <input type="text" name="name" />
        <input type="submit" />
    </form>
</body>
</html>
